<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kolej Profesional MARA Beranang</title>
<style>
    body{background-color: aqua;}
</style>

</head>
<body>
    <h1>    KOLEJ PROFESIONAL MARA BERANANG</h1>
    <h2>Welcome</h2>
    <ul>
        <li>COURSE</li>
        <ul>
            <li><a href= "course">Course</a></li>
            <li><a href= "search_course">Search Course</a></li>
    
        </ul>
        <li>STUDENT</li>
        <ul>
        <li><a href= "new_student">New Student</a></li>
            <li><a href= "view_student">View Student</a></li>
            <li><a href= "searchbystudent">Search By Student</a></li>


        </ul>
    </ul>
   
    
</body>
</html>