<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course</title>
    <style>
        body{
            background-color: yellow;
        }
    </style>
</head>
<body>
    <h1>KOLEJ PROFESIONAL MARA BERANANG</h1>
    <strong> SEARCH COURSE</strong><br><br>


    <form action="search_course" method="get">
        {% csrf_token %}
            Enter Course:
            <input type="text" name="c_code">
            <input type="submit" value="SEARCH">

    </form>
    <p>
        {% for value in data%}
            code: {{value.code}}<br><br>
            description: {{value.description}}<br><br>
        {%endfor%}
    </p>
    <br><br>
    <!--{{message}}!-->
    <br>
    <a href="\kpmb">Home</a>
    
</body>
</html>