<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{background-color: beige;}
    </style>
</head>
<body>
    <h1>Kolej Professional Mara Beranang</h1>
    <strong>UPDATE COURSE</strong><br><br>
    <form action="save_update_course/{{data.code}}" method = "post">
        {% csrf_token %}
        Course Code : <input type = "text", name ="code" value ="{{data.code}}" disabled ="false"><br>
        Course Description : <input type ="text", name ="description" value = "{{data.description}}"><br><br><br>
        <input type ="submit" value ="SAVE">
    </form>

    <br><br><br>
    <a href = "{% url 'course' %}">BACK</a>
</body>
</html>